.pictures {
    .picture {
        border-radius: 24px;
    }

    .picture-1 {
        width: 273.519px;
        height: 167.084px;
    }

    .picture-2 {
        width: 195.49px;
        height: 293.236px;
    }

    .picture-3 {
        width: 238.471px;
        height: 385.868px;
    }
}