.box-breads-component {
    .content {
        background-color: #E3E1DC;
        border-radius: 0 0 42px 42px;

        .title {
            color: #291507;
            font-size: 48px;
            font-weight: 700;
            
            .line {
                background-color: #4D270C;
                height: 3px;
                width: 60px;
            }
        }
    }
}