* {
    font-family: 'Montserrat', sans-serif;
    color: #291507;
}

.btn-link {
    color: rgba(41, 21, 7, 0.60);
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}

.line {
    background-color: #4D270C;
    height: 3px;
    width: 60px;
}