.card {
    background-color: transparent !important;
    border: none !important;
    width: 100%;

    img {
        aspect-ratio: 1/1;
        border-radius: 24px;
        object-fit: cover;
    }

    .card-body {
        background-color: transparent;
        padding-left: 0;
        padding-right: 0;
    }
}